@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@{
    ViewData["Title"] = "Departman Ekle";
}

@model CodeFirstProjectPastane.Models.Departman

<div class="container mt-5 mb-5 px-4 py-4 border rounded bg-light shadow-sm">
    <h2 class="mb-4">Yeni Departman Ekle</h2>

    <form asp-action="Create" method="post">
        <div class="form-group mb-3">
            <label asp-for="DepartmanAdi" class="form-label"></label>
            <input asp-for="DepartmanAdi" class="form-control" />
            <span asp-validation-for="DepartmanAdi" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="PersonelSayisi" class="form-label"></label>
            <input asp-for="PersonelSayisi" class="form-control" />
            <span asp-validation-for="PersonelSayisi" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-success">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">İptal</a>
    </form>
</div>