@model CodeFirstProjectPastane.Models.Urun

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="container mt-5">
    <form asp-action="Edit" asp-controller="Urun" method="post" class="mx-auto" style="max-width:1200px;">
        <input type="hidden" asp-for="UrunId" />

        <div class="mb-3">
            <label asp-for="UrunAd" class="form-label fw-bold">Ürün Adı :</label>
            <input asp-for="UrunAd" type="text" class="form-control" placeholder="Ürün adını giriniz" />
        </div>

        <div class="mb-3">
            <label asp-for="Fiyat" class="form-label fw-bold">Fiyatı :</label>
            <input asp-for="Fiyat" type="text" class="form-control" placeholder="Ürün fiyatını girin" />
        </div>

        <div class="mb-3">
            <label asp-for="Kategori" class="form-label fw-bold">Kategori :</label>
            <select asp-for="Kategori" class="form-select" aria-label="Kategori seçiniz">
                <option value="">-- Kategori Seçiniz --</option>
                @foreach (var item in ViewBag.Kategori as List<string>)
                {
                    <option value="@item" selected="@(item == Model.Kategori ? "selected" : null)">
                        @item
                    </option>
                }



            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Adet" class="form-label fw-bold">Stok :</label>
            <input asp-for="Adet" type="text" class="form-control" placeholder="Stoktaki ürün adedini girin" />
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-success px-4">
                Kaydet
            </button>
        </div>
    </form>
</div>